<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de prueba</title>
</head>
<body>

    <form method="post">{% csrf_token %}

        <p>Ingrese nombre del curso
        <input type="text" name="nombre" placeholder="Python">
        </p>
        <p>Ingrese la camada
        <input type="number" name="camada" placeholder="40150">
        </p>
        <input type="submit" value="Crear">


    </form>
    
</body>
</html>